*.json
*.backup
*.pyc
notes
.terraform.tfstate.lock.info
istio-1.10.2/
terraform.tfstate.backup
.terraform.lock.hcl
*.tfstate
.terraform
*.o
deployments/
book-source-code/
istio-code/
web-app-demo/schemas/
*.swp
web-app-demo/lib/python3.8/site-packages/
web-app-demo/market/__pycache__/*
preguntas_oscar
web-app-demo/bin/pip3.10
web-app-demo/bin/python3.10
web-app-demo/include/site/python3.10/
web-app-demo/lib/
